*.class

# Package Files #
*.jar
*.war
*.ear
*.orig
*.iml
.idea/
target/
nb-configuration.xml

/acteur-mongo-async/nbproject/
/interpreter-registry/nbproject/
/marshaller-registry/nbproject/
/acteur-util/nbproject/
/acteur-websocket-pubsub/nbproject/
/netty-websocket-pubsub/nbproject/
/acteur/nbproject/
/url/nbproject/